absl-py>=0.12.0
chex>=0.0.7
clu>=0.0.3
einops>=0.3.0
flax==0.5.0

jax==0.3.13
jaxlib==0.3.10
jax[tpu]>=0.2.16
--find-links https://storage.googleapis.com/jax-releases/jax_releases.html
--find-links https://storage.googleapis.com/jax-releases/libtpu_releases.html

ml-collections==0.1.0
numpy>=1.19.5
pandas>=1.1.0
tensorflow-cpu>=2.4.0  # Using tensorflow-cpu to have all GPU memory for JAX.
tensorflow-datasets>=4.0.1
tensorflow-probability>=0.11.1
